spring:
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
  data:
    mongodb:
      database: cyberops
    redis:
      host: localhost
      port: 1379
  sql:
    init:
      mode: always
      schema-locations: classpath:org/springframework/batch/core/schema-drop-postgresql.sql
  batch:
    job:
      enabled: false
    jdbc:
      initialize-schema: always
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: root
    password: password
  main:
    allow-bean-definition-overriding: true

logging:
  level:
    root: INFO
    com.system.batch: DEBUG  # 추가
    org.springframework.batch: DEBUG  # 추가